<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>College Bazar</title>
</head>

<body>
    <h1>College Bazar - Categories</h1>

    <!-- Redering the products -->
    <div class="row row-cols-1 row-cols-md-4">
        {% for cat in categories %}
        <form id="details-form" method="post" action="categoryProducts">
            {% csrf_token %}
            <button style="padding:0; margin:0;">
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <input type="hidden" name="cat" id="cat" value="{{cat}}">
                            <p class="card-text">
                                {{cat}}
                            </p>
                        </div>
                    </div>
                </div>
            </button>
        </form>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>